<a href="https://colab.research.google.com/github/fajni/google-colab-machine-learning/blob/main/MachineLearning_example.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

# Dataset

In [3]:
# excel = pd.read_excel('salaries.xlsx')

# df //Data Frame
df = pd.read_csv('./drive/MyDrive/Data/salaries.csv')

print(df.head())

print('\n============\n')

print(df["company_size"].unique())

   work_year experience_level employment_type             job_title  salary  \
0       2024               MI              FT        Data Scientist  120000
1       2024               MI              FT        Data Scientist   70000
2       2024               MI              CT        Data Scientist  130000
3       2024               MI              CT        Data Scientist  110000
4       2024               MI              FT  Data Science Manager  240000

  salary_currency  salary_in_usd employee_residence  remote_ratio  \
0             USD         120000                 AU             0
1             USD          70000                 AU             0
2             USD         130000                 US             0
3             USD         110000                 US             0
4             USD         240000                 US             0

  company_location company_size
0               AU            S
1               AU            S
2               US            M
3               US            M
4               US            M

============

['S' 'M' 'L']